* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-oswald: 'Oswald', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-raleway:'Raleway', sans-serif;
}

body {
    font-size: 1.6rem;
    padding: 2.6rem 6rem 4.7rem;
    background: rgb(251,233,142);
    background: linear-gradient(180deg, rgba(251,233,142,1) 0%, rgba(255,255,255,1) 100%);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

header ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

header ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    font-family: var(--ff-open-sans);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;

    color: #333333;
}

header ul li img {
    width: fit-content;
}

header .headerButtons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.headerButtons img {
    cursor: pointer;
    transition: transform .2s;
}

.headerButtons img:hover {
    transform: scale(1.05);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    font-family: var(--ff-oswald);
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;

    color: #333333;
}

.hidden {
    display: none;
}